.component-wrapper {
	justify-content: center;
	text-align: center;
	display: flex;
	width: 100%;
	font-size: 24px;
	height: 90%;
	background: #2193b0; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #054752, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom left, #054752, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.notification {
	padding: 20px 0px;
	color: white;
}

.margin-right-5 {
	margin-right: 10px;
}

.form-container {
	width: 100%;
}

.form-field {
	display: block
}

.flex {
	display: flex;
}

.space-between {
	justify-content: flex-end;
}

.success {
	color: white;
	background-color: #1dca1d;
}

.danger {
	color: white;
	background-color: #e82828;
}
