.component-wrapper {
	justify-content: center;
	text-align: center;
	display: flex;
	height: 90%;
	align-items: center;
}

.form-container {
	width: 400px;
}

.form-field {
	display: block
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}