<div class="component-wrapper">
	<div class="form-container">
			<span *ngFor="let notification of notifications" class='container'>
				<div class="notification">
					<span class='left-side'>
						<img *ngIf="!notification.seen" height="30px" src="../../../assets/images/red-dot.gif" width="60px">
						<img class=" card-header-image"
								 src="{{notification.fromProfilePic? notification.fromProfilePic : '../assets/images/default-profile-pic.jpeg'}}"
								 style="border-radius:50%;width:52px;height:52px; padding-right:10px;">
						<span *ngIf="notification.type == 'REQUEST_SENT'">
							<a
								[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a>{{"REQUEST_SENT_MESSAGE"|translate}}
						</span>

						<span *ngIf="notification.type == 'REQUEST_CANCELLED'">
							<a
								[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a> {{"REQUEST_CANCELLED_MESSAGE"|translate}}
						</span>
						<span *ngIf="notification.type == 'REQUEST_APPROVED'">
							<a
								[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a> {{"REQUEST_APPROVED_MESSAGE"|translate}}
						</span>
						<span *ngIf="notification.type == 'REQUEST_EXPIRED'"> {{"REQUEST_EXPIRED_MESSAGE"|translate}}
							<a [routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a>
						</span>
						<span
							*ngIf="notification.type == 'RIDE_CANCELLED'"><a
							[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a> {{"RIDE_CANCELLED_MESSAGE"|translate}}
						</span>
						<span
							*ngIf="notification.type == 'REQUEST_DENIED'"><a
							[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a> {{"REQUEST_DENIED_MESSAGE"|translate}}
						</span>

						<span *ngIf="notification.type == 'RATING_ALLOWED'">
							{{"RATING_ALLOWED"|translate}} <a
							[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a>
						</span>
						<span
							*ngIf="notification.type == 'RATING_SUBMITTED'"> <a
							[routerLink]="'/user/' + notification.fromId"><b>{{notification.fromName}}</b></a> {{"RATING_SUBMITTED"|translate}}
						</span>
					</span>
					<span class="flex space-between inline-block">
						<button (click)="takeAction(notification,action)" *ngFor="let action of notification.actions" [class]="getClassForAction(action)"
										class="margin-right-5"
										mat-raised-button>{{action | translate}}</button>
					</span>
				</div>
				<hr>
			</span>
	</div>
</div>