.flex {
	display: flex;
}

.profile-settings {
	width: 30%;
}

.table-container {
	width: 66%;
	margin-left: 2%;
	margin-right: 1%;
}

.profile-pic {
	border-radius: 60%;
}

.ml-5 {
	margin-left: 5px;
}

.mt-5 {
	margin-top: 5px;
}

.space-between {
	justify-content: space-between;
}

:host ::ng-deep {
	& .mat-card-header-text {
		width: 100%;
		margin-right: 0;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.h-100-percent {
	height: 100%;
}

.w-100-percent {
	width: 100%
}

.center {
	align-items: center;
	justify-content: center;
}

::ng-deep .mat-tab-label {
	color: white !important;
}

:host ::ng-deep {
	.mat-tab-label-active {
		background: black !important;
	}
}