.flex {
	display: flex;
}

.table-container {
	width: 64%;
	margin-top:1.5em;
}

.profile-pic {
	border-radius: 60%;
}

.mt-5 {
}

.space-between {
	justify-content: space-between;
}

:host ::ng-deep {
	& .mat-card-header-text {
		width: 100%;
		margin-right: 0;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.h-100-percent {
	height: 100%;
}

.w-100-percent {
	width: 100%
}

.center {
	align-items: center;
	justify-content: center;
}

:host::ng-deep .mat-tab-label {
	color: white !important;
}

:host ::ng-deep {
	.mat-tab-label-active {
		background: black !important;
	}
}

.prof-settings-container {
	margin-left: 0.5em;
	margin-right: 1.5em;
	width: 30%;
	margin-top: 1.5em;
}

@media (max-width: 1088.98px) {
	.container {
		flex-direction: column;
	}
	.table-container, .prof-settings-container {
		width: auto;
	}
}