<div class="flex h-100-percent">
	<!-- USER DETAILS -->
	<div class="w-35 ml-5 mt-5">
		<profile-settings (submitEvent)="submit($event)"></profile-settings>
	</div>

	<div class="w-65 mat-card mt-5">
		<mat-tab-group class="set-width color-white" dynamicHeight mat-stretch-tabs>
			<mat-tab class='color-white' label="{{'RIDE_REQUESTS'|translate}}">
				<ride-requests-component (onActionTaken)="takeAction($event)"
																 [receivedReservationRequests]="receivedReservationRequests$|async"
																 [sentReservationRequests]="sentReservationRequests$|async"></ride-requests-component>
			</mat-tab>
			<mat-tab label="{{'TRIPS'|translate}}">
				<trips-component></trips-component>
			</mat-tab>
			<mat-tab label="{{'RATINGS'|translate}}">
				<my-ratings></my-ratings>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>