.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
}

.space-evenly {
	justify-content: space-evenly;
}

.text-center {
	text-align: center;
}

.width-49-percent {
	width: 49%;
}