button {
	width: 17px;
	text-align: left !important;
	height: 20px;
}

.mat-icon-button .mat-icon {
	line-height: 7px;
	font-size: 19px;
}

:host ::ng-deep {
	.mat-tab-label-active {
		background: lightblue !important;
	}
}