<div class="component-wrapper">
	<div *ngIf='isTokenValid; else tokenInvalid' class="form-container">
		<form (submit)="submit()" [formGroup]="newPasswordForm">
			<mat-form-field appearance="outline" class="form-field">
				<mat-label> {{'NEW_PASSWORD' | translate}}
				</mat-label>
				<input formControlName="newPassword" matInput required type="password">
				<mat-error *ngIf="newPasswordForm.controls.newPassword.touched && newPasswordForm.controls.newPassword.invalid">
					<span *ngIf="newPasswordForm.controls.newPassword.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="newPasswordForm.controls.newPassword.errors.pattern">{{'MANDATORY_FIELD' | translate}}</span>
				</mat-error>
			</mat-form-field>
			<button [disabled]="newPasswordForm.invalid || newPasswordForm.pristine"
							color='primary'
							mat-raised-button
							type="submit">
				{{'SUBMIT' | translate}}
			</button>
		</form>
	</div>
	<ng-template #tokenInvalid>
		<div>
			<h2>{{'INVALID_PW_RESET_TOKEN' |translate}}</h2>
		</div>
	</ng-template>
</div>