<div class="component-wrapper">
	<div class="form-container" *ngIf='isTokenValid; else tokenInvalid'>
		<form [formGroup]="newPasswordForm" (submit)="submit()">
			<mat-form-field class="form-field" appearance="outline">
				<mat-label> {{'NEW_PASSWORD' | translate}}
				</mat-label>
				<input matInput formControlName="newPassword" required>
				<mat-error *ngIf="newPasswordForm.controls.newPassword.touched && newPasswordForm.controls.newPassword.invalid">
					<span *ngIf="newPasswordForm.controls.newPassword.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="newPasswordForm.controls.newPassword.errors.pattern">{{'MANDATORY_FIELD' | translate}}</span>
				</mat-error>
			</mat-form-field>
			<button mat-raised-button class="button-primary" type="submit" [disabled]="newPasswordForm.invalid || newPasswordForm.pristine">
				{{'SUBMIT' | translate}}
			</button>
		</form>
	</div>
	<ng-template #tokenInvalid>
		<div>
			<h2>{{'INVALID_PW_RESET_TOKEN' |translate}}</h2>
		</div>
	</ng-template>
</div>