<div class="table-responsive">


<table [dataSource]="dataSource" class="mat-elevation-z8 background-black" mat-table matSort>
	<ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.name">
		<th *matHeaderCellDef [disabled]="!column.sortable" class='table-headers' mat-header-cell mat-sort-header
				style='color:#797979'> {{column.translationLabel | translate}} </th>

		<td *matCellDef="let element" [ngClass]="getSpanClass(element[column.name],false)" mat-cell>

			<span [ngSwitch]="column.type">
				<span *ngSwitchCase="ColumnType.DATETIME">
									<span>{{element[column.name] | date: 'dd.MM.y hh:mm' }}</span>
				</span>

				<span *ngSwitchCase="ColumnType.DATE">
									<span>{{element[column.name] | date: 'dd.MM.y' }}</span>
				</span>

				<span *ngSwitchCase="ColumnType.TIME">
									<span>{{element[column.name] | date: 'hh:mm' }}</span>
				</span>

				<span *ngSwitchCase="ColumnType.TEXT">
									<span>{{element[column.name]?.toString() | translate }}</span>
				</span>

				<span *ngSwitchCase="ColumnType.NUMBER">
									<span>{{element[column.name]}}</span>
				</span>
				<span *ngSwitchCase="ColumnType.BOOLEAN">
									<span>{{element[column.name]?.toString() | translate}}</span>
				</span>

				<span *ngSwitchCase="ColumnType.BUTTON">
									<button (click)="takeAction(column.actionName, element)" mat-icon-button><mat-icon>{{column.matIconName}}</mat-icon></button>
				</span>

					<span *ngSwitchCase="ColumnType.CUSTOM">
						<span [ngSwitch]="column.name">
							<!--------------------->
							<!------ Driver ------->
								<span *ngSwitchCase="'driver' || 'driverName'">
									<span>{{element.driver.name}}</span>
								</span>

							<!-- User Actions [ADMIN PANEL] -->
							<span *ngSwitchCase="'adminActions'">
								<button [disabled]='element[column]?.length==0' [matMenuTriggerFor]="menu" aria-label="Actions"
												mat-icon-button>
										<mat-icon>more_vert</mat-icon>
									</button>
									<mat-menu #menu="matMenu">
										<button (click)="takeAction('BAN_USER',element.username)" *ngIf="!element.isBanned" mat-menu-item>
											{{'BAN_USER'|translate}}
										</button>
										<button (click)="takeAction('UNBAN_USER',element.username)" *ngIf="element.isBanned" mat-menu-item>
											{{'UNBAN_USER'|translate}}
										</button>
										<button (click)="takeAction('ACTIVATE_USER',element.username)" *ngIf='!element.isActivated'
														mat-menu-item>
											{{'ACTIVATE_USER'|translate}}
										</button>
										<button (click)="takeAction('CHANGE_USER_ROLE',element.username)" mat-menu-item>
											{{'CHANGE_USER_ROLE'|translate}}
										</button>
									</mat-menu>
							</span>


							<!--------------------->
							<!-- Allowed Actions -->
							<span *ngSwitchCase="'allowedActions'">
								<button *ngIf='element[column.name]?.length!=0' [matMenuTriggerFor]="menu" aria-label="Actions" mat-icon-button>
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button (click)="takeAction(action, element.id)"
													*ngFor="let action of element[column.name]"
													mat-menu-item>
										{{action | translate}}
									</button>
								</mat-menu>
						</span>

							<div *ngSwitchCase="'status' || 'requestStatus'">
												<!-- STATUS -->
								<span [classList]="getSpanClass(element[column.name],true)"
											style='border:1px solid; border-radius:50%;width:10px; height: 10px; margin-right:5px;'>
								</span>
								<span>{{element[column.name]?.toString() | translate}} </span>
							</div>

							<span *ngSwitchDefault>
								<span>{{element[column.name]?.toString() |translate}} </span>
							</span>

					</span>
				</span>
			</span>

		</td>
	</ng-container>

	<tr *matHeaderRowDef="getColumnNames(displayedColumns)" mat-header-row></tr>
	<tr *matRowDef="let row; columns: getColumnNames(displayedColumns);" mat-row></tr>
</table>

<mat-paginator #paginator *ngIf="dataSource?.data?.length > 0" [pageSizeOptions]="[5,10,15,50]" class="pagnacolor"
							 showFirstLastButtons></mat-paginator>
</div>