table {
	width: 100%;
}

button {
	margin: 16px 8px;
}

.inline-block {
	display: inline-block !important;
}

.text-success {
	color: #40ff2b !important;
}

.text-light-blue {
	color: #4183c4 !important;
}

.text-fail {
	color: #ff1d11 !important;
}

.text-warn {
	color: #ffa313 !important;
}

.background-success {
	background-color: #40ff2b !important;
}

.background-light-blue {
	background-color: #4183c4 !important;
}

.background-fail {
	background-color: #ff1d11 !important;
}

.background-warn {
	background-color: #ffa313 !important;
}

.table-headers {
	background-color: #2979ff !important;
	font-weight: bold;
	color: white !important;
}

::ng-deep .mat-sort-header-container {
	justify-content: center !important;
}

td {
	text-align: center;
}

.background-black {
	background-color: rgb(0, 0, 0, 0.8) !important;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto !important;
	.mat-table {
		width: 100% !important;
		max-width: 100%;
		display: table;
		border-collapse: collapse;
		margin: 0;
	}
	.mat-row,
	.mat-header-row {
		display: table-row;
	}
	.mat-cell,
	.mat-header-cell {
		word-wrap: initial;
		display: table-cell;
		padding: 0px 5px;
		line-break: unset;
		width: auto;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
	}
}

::ng-deep {
	& .mat-paginator-page-size {
		align-items: center;
	}
}