.flex {
	display: flex;
}

.width-100 {
	width: 100%;
}

.center {
	text-align: center;
	justify-content: center;
}

.basic-info {
	line-height: 3em;
}

* {
	font-size: 18px;
}

.width-40 {
	width: 40%;
}

.card {
	margin-top: 2%;
	border-radius: 10%;
	min-width: 450px;
}

.profile-pic {
	border-radius: 70px;
	width: 140px;
	height: 140px;
}

.profile-photo {
	margin-top: -1%;
}

.link {
	cursor: pointer;
}

.full-name {
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

@media (max-width: 450.98px) {
	.width-40 {
		min-width: auto;
		width: 100%;
	}
}
