<div>
  <span>id:</span>
  <span>driver name:</span>
  <span>available seats:</span>
  <span>price per head:</span>
  <span>from:</span>
  <span>to:</span>
  <span>Time of departure:</span>
</div>
<div *ngFor='let trip of allTrips'>
  <span [routerLink]="['/trips/', trip.id]"> {{trip.id}}</span>
  <span> {{trip.driver.name}}</span>
  <span> {{trip.availableSeats}}</span>
  <span> {{trip.pricePerHead}}</span>
  <span> {{trip.from}}</span>
  <span> {{trip.to}}</span>
  <span> {{trip.departureTime}}</span>
</div>
