//@media (max-width: 1010.98px) {
//	::ng-deep {
//		.search-wrapper {
//			display: flex;
//			flex-direction: column;
//		}
//
//		.form-field, .final-submit-button {
//			width: 100% !important;
//		}
//
//		.hide-on-mobile {
//			display: none;
//		}
//
//		.swap-icon {
//			display: none;
//		}
//	}
//}
