.card-header-image {
	background-size: cover;
}

.mat-card {
	display: inline-block;
	margin: 30px 30px;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.pointer {
	cursor: pointer;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

:host ::ng-deep {
	& .mat-card-header-text {
		width: 100%;
	}
}

.width-21 {
	width: 21px;
}

.font-26 {
	font-size: 26px;
}

.font-18 {
	font-size: 18px;
}

.color-green {
	color: rgb(93, 209, 103);
}

.color-red {
	color: #ff2a26;
}

.text-bold {
	font-weight: bold;
}

.height-12 {
	height: 12px;
}

.distance-divider {
	border-top-width: 12px !important;
}

.align-center {
	align-items: center;
}