<mat-tab-group dynamicHeight>
	<mat-tab label="{{'DRIVER'|translate}}">
		<data-table class='margin-top-10' [dataSource]="tripsAsDriver$|async"
								[displayedColumns]="tableColumnsAsDriver"
								(onActionTaken)="takeAction($event)"></data-table>
	</mat-tab>
	<mat-tab label="{{'PASSENGER'|translate}}">
		<data-table [dataSource]="tripsAsPassenger$|async"
								[displayedColumns]="tableColumnsAsPassenger"
								(onActionTaken)="takeAction($event)"></data-table>
	</mat-tab>
</mat-tab-group>