.flex {
	display: flex;
}

.username {
	max-width: 30%;
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
}

.rating-span-container {
	width: 40%;
	display: flex;
	justify-content: flex-end;
}

.w-35 {
	width: 35%;
}

.w-65 {
	width: 65%;
}

.profile-pic {
	border-radius: 60%;
	width: 48px;
	height: 48px;
}

.ml-5 {
	margin-left: 5px;
}

.mt-5 {
	margin-top: 5px;
}

.space-between {
	justify-content: space-between;
}

:host ::ng-deep {
	& .mat-card-header-text {
		width: 100%;
		margin-right: 0;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

a {
	color: #00AFF5 !important;
	cursor: pointer;
}

.text-end {
	text-align: end;
}

.align-center {
	align-items: center;
}