table {
	width: 100%;
}

button {
	margin: 16px 8px;
}

.text-success {
	color: #40ff2b;
}

.text-light-blue {
	color: #4183c4;
}

.text-fail {
	color: #ff1d11
}

.text-warn {
	color: #ffa313;
}

.background-success {
	background-color: #40ff2b;
}

.background-light-blue {
	background-color: #4183c4;
}

.background-fail {
	background-color: #ff1d11
}

.background-warn {
	background-color: #ffa313;
}