.component-wrapper {
	justify-content: center;
	text-align: center;
	display: flex;
	height: 90%;
	align-items: center;
}

.form-container {
	width: 400px;
}

.form-field {
	display: block;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.radio-button {
	display: flex;
	justify-content: space-evenly;
}