<div class="component-wrapper">
	<div class="form-container">
		<form [formGroup]="forgotPasswordForm" (submit)="submit()">
			<mat-form-field class="form-field" appearance="outline">
				<mat-label> {{'YOUR_EMAIL_ADDRESS' | translate}}
				</mat-label>
				<input matInput formControlName="username" required>
				<mat-error *ngIf="forgotPasswordForm.controls.username.touched && forgotPasswordForm.controls.username.invalid">
					<span *ngIf="forgotPasswordForm.controls.username.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="forgotPasswordForm.controls.username.errors.pattern">{{'MANDATORY_FIELD' | translate}}</span>
				</mat-error>
			</mat-form-field>
			<button mat-raised-button class="button-primary" type="submit" [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pristine">
				{{'SUBMIT' | translate}}
			</button>
		</form>
	</div>
</div>