<div class="component-wrapper">
	<div class="form-container">
		<form (submit)="submit()" [formGroup]="forgotPasswordForm">
			<mat-form-field appearance="outline" class="form-field">
				<mat-label> {{'YOUR_EMAIL_ADDRESS' | translate}}
				</mat-label>
				<input formControlName="username" matInput required>
				<mat-error *ngIf="forgotPasswordForm.controls.username.touched && forgotPasswordForm.controls.username.invalid">
					<span *ngIf="forgotPasswordForm.controls.username.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="forgotPasswordForm.controls.username.errors.pattern">{{'MANDATORY_FIELD' | translate}}</span>
				</mat-error>
			</mat-form-field>
			<button [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pristine" class="button-primary" mat-raised-button
							type="submit">
				{{'SUBMIT' | translate}}
			</button>
		</form>
	</div>
</div>