.card-header-image {
	background-size: cover;
}

.margin-right-10 {
	margin-right: 10px;
}

.mat-card {
	display: inline-block;
	margin: 30px 30px;
	//min-width: 290px;
	background: rgb(0, 0, 0, 0.8);
	color: white !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.pointer {
	cursor: pointer;
}

.width-50 {
	width: 48%;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

:host ::ng-deep {
	& .mat-card-header-text {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		display: flex;
		flex-direction: column;
	}

	& .mat-card-header {
		margin-bottom: 5px;
	}

	& .mat-card-header .mat-card-subtitle:not(:first-child) {
		margin-top: 1%;
	}
}

.width-21 {
	width: 21px;
}

.font-26 {
	font-size: 26px;
}

.font-18 {
	font-size: 18px;
}

.color-green {
	color: rgb(93, 209, 103) !important;
}

.color-red {
	color: #ff2a26;
}

.text-bold {
	font-weight: bold;
}

.height-12 {
	height: 12px;
}

.road {
	background: rgb(255, 255, 255, 0.3);
	width: 100%;
	margin-left: -14px;
	padding-right: 30px;
}

.distance-divider {
	border-top-width: 12px !important;
}

.align-end {
	align-items: end;
}

.margin-top-minus-20px {
	margin-top: -21px;
}

.width-100-percent {
	width: 100%;
}

.center {
	align-items: center;
	justify-content: center;
}

.align-flex-end {
	align-items: center;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-minus-14 {
	margin-left: -14px;
}

.background-green {
	background-color: #00b712;
	background-image: linear-gradient(315deg, #00b712 0%, #5dd38d 60%);
}

.color-white {
	color: white;
}

.user-link {
	text-decoration: none;
	color: white !important;
}

.user-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.width-60 {
	width: 60% !important;
}

.width-30 {
	width: 30% !important;
}

.remaining-free-seats {
	display: flex;
	justify-content: flex-end;
	margin-left: 6vw;
}

.flex-column {
	display: flex;
	flex-direction: column;
}


@media (max-width: 430.98px) {
	:host::ng-deep {
		& .mat-card-title {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		& .mat-card-subtitle {
			text-align: center;
		}

		& .mat-card {
			width: -webkit-fill-available;
		}

		& .remaining-free-seats {
			margin-left: 0;
		}
	}
}

.margin-left-2 {
	margin-left: 2%;
}

@media (max-width: 991.98px) {

	.no-trips-found {
		text-align: center;
	}

	.trip-list-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
	}
	.card {
		max-width: 400px;
	}
}