<h1 class="text-center" mat-dialog-title>{{'ADD_SMS_NOTIFICATION_DIALOG_TITLE'|translate}}</h1>
<div mat-dialog-content>
	<form [formGroup]="form" class='flex-row space-evenly'>
		<div class="flex-column text-center margin-left-2 ignore-default-color">
			<mat-label>{{'PHONE_NUMBER'|translate}}:</mat-label>
			<mat-form-field class="flex-row space-evenly" appearance="outline">
				<input matInput formControlName="phone" placeholder="{{'PHONE_NUMBER_SMS_PLACEHOLDER'|translate}}">
				<mat-error *ngIf='form.controls.phone.touched && form.controls.phone.invalid'>{{'MANDATORY_FIELD' | translate}}</mat-error>
			</mat-form-field>

		</div>

		<div class="flex-column text-center margin-left-2">
			<mat-label>{{"VALID_UNTIL" | translate}}</mat-label>
			<mat-form-field appearance="outline">
				<input [min]='dateNow' [owlDateTimeFilter]='myDateTimeFilter'
							 [owlDateTimeTrigger]="validUntilOwlComponent"
							 [placeholder]="'VALID_UNTIL_PLACEHOLDER'|translate"
							 [owlDateTime]="validUntilOwlComponent" class='border-top-0'
							 formControlName='validUntil'
							 matInput>
				<owl-date-time #validUntilOwlComponent [stepMinute]='60'></owl-date-time>
				<mat-error
					*ngIf='form.controls.validUntil.touched && form.controls.validUntil.invalid'>{{'MANDATORY_FIELD' | translate}}</mat-error>
			</mat-form-field>
		</div>
	</form>

</div>
<div mat-dialog-actions>
	<button (click)='submit()' class='width-47-percent mat-stroked-button mat-primary'
					mat-button>{{'SAVE' | translate}}</button>
	<button (click)="onCancel()" class='width-47-percent mat-stroked-button mat-primary'
					mat-button>{{'CLOSE'|translate}}</button>
</div>