<table [dataSource]="dataSource" class="mat-elevation-z8 background-black" mat-table matSort>
	<ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
		<th *matHeaderCellDef class='table-headers' mat-header-cell mat-sort-header
				style='color:#797979'> {{getLabel(column) | translate}} </th>
		<td *matCellDef="let element" [ngClass]="getSpanClass(column,element,false)" mat-cell>


			<!-- Allowed Actions -->
			<span *ngIf="column=='allowedActions'">
				<button [disabled]='element[column]?.length==0' [matMenuTriggerFor]="menu" aria-label="Actions"
								mat-icon-button>
					<mat-icon>more_vert</mat-icon>
				</button>
			 	<mat-menu #menu="matMenu">
					<button (click)="takeAction(action, element.id)"
									*ngFor="let action of element[column]"
									mat-menu-item>
						{{action | translate}}
					</button>
				</mat-menu>
			</span>

			<!-- User Actions [ADMIN PANEL] -->
			<span *ngIf="column=='adminActions'">
				<button [disabled]='element[column]?.length==0' [matMenuTriggerFor]="menu" aria-label="Actions"
								mat-icon-button>
					<mat-icon>more_vert</mat-icon>
				</button>
			 	<mat-menu #menu="matMenu">
					<button (click)="takeAction('BAN_USER',element.username)" *ngIf="!element.isBanned" mat-menu-item>
						{{'BAN_USER'|translate}}
					</button>
					<button (click)="takeAction('UNBAN_USER',element.username)" *ngIf="element.isBanned" mat-menu-item>
						{{'UNBAN_USER'|translate}}
					</button>
					<button (click)="takeAction('ACTIVATE_USER',element.username)" *ngIf='!element.isActivated' mat-menu-item>
						{{'ACTIVATE_USER'|translate}}
					</button>
					<button (click)="takeAction('CHANGE_USER_ROLE',element.username)" mat-menu-item>
						{{'CHANGE_USER_ROLE'|translate}}
					</button>
				</mat-menu>
			</span>

			<!-- Driver -->
			<span *ngIf="column=='driver'">
				<span>{{element.driver.name}}</span>
			</span>

			<!-- Departure Time -->
			<span *ngIf="column=='departureTime'">
				<span>{{element.departureTime | date: 'dd.MM.y hh:mm' }}</span>
			</span>

			<span *ngIf="column === 'birthDate' || column === 'registeredOn'">
				<span>{{element.birthDate | date:'dd.MM.y'}}</span>
			</span>
			<!-- From / To Location -->
			<span *ngIf="column == 'fromLocation' || column == 'toLocation'">
				<span>{{element[column] | translate}}</span>
			</span>

			<div *ngIf="column!='allowedActions' && column!= 'driver' && column !='departureTime' &&
			column != 'fromLocation' && column != 'toLocation' && column !='birthDate' && column !='registeredOn' && column !='adminActions'"
					 style="display: flex; align-items: center;">

				<!-- STATUS -->
				<span *ngIf='column == "requestStatus"'
							[classList]="getSpanClass(column,element,true)"
							style='border:1px solid; border-radius:50%;width:10px; height: 10px; margin-right:5px;'>
					</span>
				<span
					*ngIf='column == "requestStatus" || column == "status"'>{{element[column]?.toString() | translate}} </span>
				<span
					*ngIf='column != "requestStatus" && column != "status" '>{{element[column]?.toString() |translate}} </span>
			</div>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<mat-paginator *ngIf="dataSource?.data?.length > 0" [pageSizeOptions]="[5,10,15,50]" class="pagnacolor"
							 showFirstLastButtons></mat-paginator>