<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 background-black">
	<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
		<th mat-header-cell *matHeaderCellDef class='table-headers' style='color:#797979'> {{prettyName(column) | translate}} </th>
		<td mat-cell *matCellDef="let element" [ngClass]="getSpanClass(column,element,false)">

			<!-- Allowed Actions -->
			<span *ngIf="column=='allowedActions'">
				<button [disabled]='element[column]?.length==0' mat-icon-button [matMenuTriggerFor]="menu"
								aria-label="Actions">
					<mat-icon>more_vert</mat-icon>
				</button>
			 	<mat-menu #menu="matMenu">
					<button mat-menu-item *ngFor="let action of element[column]" (click)="takeAction(action, element.id)">
						{{action | translate}}
					</button>
				</mat-menu>
			</span>

			<!-- Driver -->
			<span *ngIf="column=='driver'">
				<span>{{element.driver.name}}</span>
			</span>

			<!-- Departure Time -->
			<span *ngIf="column=='departureTime'">
				<span>{{element.departureTime }}</span>
			</span>

			<div *ngIf="column!='allowedActions' && column!= 'driver' && column !='departureTime'"
					 style="display: flex; align-items: center;">

				<!-- STATUS -->
				<span *ngIf='column == "requestStatus"'
							style="border:1px solid; border-radius:50%;width:10px; height: 10px; margin-right:5px;"
							[classList]="getSpanClass(column,element,true)">
					</span>
				<span *ngIf='column == "requestStatus" || column == "status"'>{{element[column] | translate}} </span>
				<span *ngIf='column != "requestStatus" && column != "status" '>
					{{element[column] |translate}}
				</span>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>