<div class="component-wrapper">
	<div class="form-container">
			<span *ngFor="let rating of ratings">
				<div class="flex-column">

					<span class="flex space-between">
						<span class="flex">
							<img
								[src]="rating?.fromProfilePic?rating.fromProfilePic:  '../../../assets/images/default-profile-pic.svg'"
								class="card-header-image"
								style="border-radius:50%;width:52px;height:52px;">

							<span class="flex-column ml-3">
								<span class="text-bold no-wrap">{{rating.fromFullName}}:</span>
								<div style='width:85px'><mat-star-rating [rating]="rating.rating"
																												 [starCount]="5"></mat-star-rating> </div>
							</span>
						</span>

						<span class="flex-column">
							<span>{{rating.tripFromLocation}}
								<img class="car-moving" src="../../../assets/images/car-moving2.gif">
								{{rating.tripToLocation}}</span>
							<span>{{rating.tripDate| date:'medium'}}</span>
						</span>

					</span>
					<div style="margin-left:57px; color:lightgray">
						 <p>"{{rating.note}}"</p>
					</div>
				</div>
				<div>
						<button (click)="rideDetails(rating.tripId)" color='primary'
										mat-stroked-button> {{"SEE_RIDE"|translate}}</button>
					</div>
				<hr>

		<mat-divider></mat-divider>
			</span>
	</div>
</div>