.success {
	color: rgb(93, 209, 103);
}

.danger {
	color: #ff2a26 !important;
}

.text-bold {
	font-weight: bold;
}

.width-49-percent {
	width: 49%;
}

.flex-row {
	display: flex;
}

.space-evenly {
	justify-content: space-evenly;
}

.mat-dialog-content {
	font-size: 15px;
	line-height: 30px;
}

.text-center {
	text-align: center;
}