.final-submit-button {
	width: 15%;
	height: fit-content;
	margin: .25em 0;
	min-width: 140px;
}

.text-center {
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-column {
	flex-direction: column;
	flex-wrap: wrap;
}

.date {
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}

.align-center {
	align-items: center;
}

.color-black {
	color: black !important;
}

.color-white {
	color: white !important;
}


//add the same padding to top for mat form field
.mat-form-field-wrapper {
	padding-top: 1.34375em !important;
}

.mat-form-field {
	min-width: 177px !important;
}

.mr-3 {
	margin-right: 1.5em;
}

.form-field {
	width: 18%;
}