<form (submit)="submit()" [formGroup]="form" [ngClass]="textColor">
	<div class='flex space-between align-center search-wrapper'>

		<!-- From Location -->
		<mat-form-field appearance="outline" class="form-field mr-3" color="primary">
			<mat-label> {{'FROM' | translate}}</mat-label>
			<mat-select formControlName="fromLocation" required>
				<mat-option *ngFor="let city of allCities" [value]="city.id">
					{{city.name | translate}}
				</mat-option>
			</mat-select>
			<mat-error *ngIf="form.controls.fromLocation.touched && form.controls.fromLocation.invalid">
				<span *ngIf="form.controls.fromLocation.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
			</mat-error>
		</mat-form-field>

		<!-- Switch FROM-TO Locations button -->
		<button mat-icon-button
						(click)="switchLocations()"
						[matTooltip]="'SWITCH_LOCATIONS'|translate"
						class="mr-3">
			<mat-icon style="width:auto;height:auto;" color="accent">swap_horizontal_circle</mat-icon>
		</button>


		<!-- To Location -->
		<mat-form-field appearance="outline" class="form-field flex-fill mr-3">
			<mat-label> {{'TO' | translate}}</mat-label>
			<mat-select formControlName="toLocation" required>
				<mat-option *ngFor="let city of allCities" [value]="city.id">
					{{city.name | translate}}
				</mat-option>
			</mat-select>
			<mat-error *ngIf="form.controls.toLocation.touched && form.controls.toLocation.invalid">
				<span *ngIf="form.controls.toLocation.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
			</mat-error>
		</mat-form-field>


		<button [disabled]='form.invalid || form.pristine'
						class='button-form final-submit-button flex-fill mr-3'
						mat-raised-button
						color="primary"
						type="submit">
			<span>{{'SEARCH' | translate}}</span>
			<img height="52px" src='assets/images/moving-car.gif' width="52px">
		</button>


		<!-- Seats requested -->
		<mat-form-field appearance="outline" class="form-field flex-fill mr-3">
			<mat-label> {{'TOTAL_SEATS_OFFERED' | translate}}</mat-label>
			<input [max]='5' [min]=1 formControlName='requestedSeats' matInput type='number'>
			<mat-error
				*ngIf="form.controls.requestedSeats.touched && form.controls.requestedSeats.invalid">
						<span
							*ngIf="form.controls.requestedSeats.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
			</mat-error>
		</mat-form-field>


		<!-- Departure date -->
		<mat-form-field appearance="outline" class="form-field flex-fill mr-3">
			<input [min]='minimumDate'
						 [owlDateTimeFilter]='myDateTimeFilter'
						 [owlDateTimeTrigger]="departureDate"
						 [owlDateTime]="departureDate"
						 class='border-top-0' formControlName='departureDate'
						 matInput
						 style="color:white!important">
			<mat-label>{{"DEPARTURE_DATE"|translate}}</mat-label>
			<owl-date-time #departureDate
										 [pickerType]='"calendar"'
										 [startAt]='minimumDate'
										 [stepMinute]='30'></owl-date-time>
			<mat-error
				*ngIf='form.controls.departureDate.touched && form.controls.departureDate.invalid'>{{'INVALID_INPUT' | translate}}</mat-error>
		</mat-form-field>
	</div>
	<div *ngIf='!this.form.value["departureDate"] && displayDate'
			 class='date color-white'>{{theTimeNow().toISOString() | date: 'dd/MM/yyyy'}}</div>
	<div *ngIf='this.form.value["departureDate"] && displayDate'
			 class='date color-white'>{{this.form.value["departureDate"] | date: 'dd/MM/yyyy'}}</div>

</form>

