.final-submit-button {
	width: 15%;
	height: fit-content;
	margin: .25em 0;
	min-width: 140px;
}

.text-center {
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-column {
	flex-direction: column;
	flex-wrap: wrap;
}

.date {
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}

.align-center {
	align-items: center;
}

.color-black {
	color: black !important;
}

.color-white {
	color: white !important;
}


//add the same padding to top for mat form field
.mat-form-field-wrapper {
	padding-top: 1.34375em;
}

.mat-form-field {
	min-width: 153px !important;
}

.mr-3 {
	margin-right: 1.5em;
}

.w-15 {
	width: 15%;
}

@media (max-width: 1010.98px) {

	.hide-on-small-screens {
		display: none !important;
	}
	.show-on-small-screens {
		display: inline-block !important;
	}

	.form-wrapper {
		flex-direction: column;
	}

	.w-15 {
		width: auto;
	}
	.date {
		margin-left: -2%;
		margin-top: 3%;
		text-align: center;
	}

	.mat-form-field {
		width: auto;
	}
}

@media (min-width: 1010.99px) {
	.hide-on-small-screens {
		display: inline-block !important;
	}
	.show-on-small-screens {
		display: none !important;
	}
}

.btn {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #cbcbcb;
	border-radius: 50%;
	color: #f5f5f5;
	text-align: center;
	text-decoration: none;
	background-color: #2979ff;
	box-shadow: 0 0 3px gray;
	font-size: 20px;
	font-weight: bold;
}

.btn:hover {
	background: #1a4aa8;
}

.btn[disabled] {
	background-color: gray;
	cursor: not-allowed;
}