.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-menu {
	background: rgb(0, 0, 0, 0.6)
}

:host ::ng-deep {
	& .mat-select {
		width: auto !important;
	}

	& .mat-icon {
		line-height: 19px !important;
		vertical-align: middle;
	}
}

.px-15 {
	width: 15px;
	height: 15px;
}

.link {
	cursor: pointer;
}

.color-black {
	color: black !important;
}

.color-white {
	color: white;
}

.rounded {
	padding: 5px;
	outline: -webkit-focus-ring-color auto 1px;
}

// MOBILE
@media only screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none;
	}
	.show-on-mobile-only {
		display: inline-block;
	}
}

// NOT MOBILE
@media only screen and (min-width: 769px) {
	.hide-on-mobile {
		display: inline-block;
	}
	.show-on-mobile-only {
		display: none;
	}
}

a:hover {
	color: #2979ff !important;
	text-decoration: none !important;
}

.remove-focus-border:focus {
	outline: none !important;
}