.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-menu {
	background: rgb(0, 0, 0, 0.6)
}

:host ::ng-deep {
	& .mat-select {
		width: auto !important;
	}

	& .mat-icon {
		line-height: 19px !important;
		vertical-align: middle;
	}
}

.px-15 {
	width: 15px;
	height: 15px;
}

.link {
	cursor: pointer;
}

.color-white {
	color: white;
}

.rounded {
	padding: 5px;
	outline: -webkit-focus-ring-color auto 1px;
}