<mat-toolbar color="primary">
	<mat-toolbar-row class='menu'>
		<div class='link' [routerLink]='"/"'>
			<h1 class='inline-block'>{{'SITE_TITLE'|translate}}</h1>
			<mat-icon>directions_car</mat-icon>
			<span class="menu-spacer"></span>
		</div>
		<div>
			<a mat-button [routerLink]="'/trips/search'">
				<mat-icon>search</mat-icon>
				{{'FIND_TRIPS'|translate}} </a>
			<a mat-button [routerLink]="'/add-trip'">
				<mat-icon>add_circle_outline</mat-icon>
				{{'PUBLISH_TRIP'|translate}} </a>

			<a mat-button [routerLink]="'/register'"> {{'REGISTER'|translate}} </a>
			<a mat-button [routerLink]="'/login'"> {{'LOGIN'|translate}} </a>

			<span mat-button class="mat-button">
       <img src="../../assets/images/{{selectedLangControl.value}}.png"
						(click)="onFlagClick()"
						class="text-bottom px-15">
        <mat-select
					[formControl]="selectedLangControl"
					#languageSelect>
          <mat-option *ngFor="let language of languages"
											[value]="language">
            <img src='./../../assets/images/{{language}}.png' class="px-15">{{language|uppercase}}
          </mat-option>
        </mat-select>
      </span>
			<button mat-icon-button>
				<mat-icon>menu</mat-icon>
			</button>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
