.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:host ::ng-deep {
  & .mat-select {
    width: auto !important;
  }

  & .mat-icon {
    line-height: 19px !important;
    vertical-align: middle;
  }
}

.link {
  cursor: pointer;
}
