<div class="component-wrapper">
	<div class="form-container">
		<form (submit)="submit()" [formGroup]="loginForm">
			<mat-form-field appearance="outline" class="display-block">
				<mat-label> {{'YOUR_EMAIL_ADDRESS' | translate}}
				</mat-label>
				<input formControlName="email" matInput required>
				<mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
					<span *ngIf="loginForm.controls.email.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
					<span *ngIf="loginForm.controls.email.errors.pattern">{{'MANDATORY_FIELD' | translate}}</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="display-block">
				<mat-label> {{'PASSWORD' | translate}}
				</mat-label>
				<input formControlName="password" matInput type="password">
				<mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
					<span *ngIf="loginForm.controls.password.errors.required">{{'MANDATORY_FIELD' | translate}}</span>
				</mat-error>
			</mat-form-field>
			<div><a [routerLink]='"/forgot-password"'
							class='primary-light-color'>{{"FORGOT_PASSWORD_CLICK_HERE"|translate}}</a></div>
			<br/>
			<button color='primary' [disabled]="loginForm.invalid || loginForm.pristine" mat-raised-button
							type="submit">
				{{'LOG_IN' | translate}}
			</button>
		</form>
	</div>
</div>