.component-wrapper {
	justify-content: center;
	text-align: center;
	display: flex;
	height: 90%;
	align-items: center;
}

.form-container {
	width: 400px;
	//margin: 200px auto 0px;
}

.form-field {
	display: block
}