.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -5%;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bolder;
}

.title {
	font: 600 108px/122px Roboto, Helvetica Neue, sans-serif;
	letter-spacing: 0.2em;
	margin: 0 0 34px;
}

.subtitle {
	font: 300 29px/28px Roboto, Helvetica Neue, sans-serif;
	letter-spacing: normal;
	margin: 0 0 16px;
}