.text-center {
	text-align: center;
}

.bold {
	font-weight: bolder;
}

.title {
	font: 600 108px/122px Roboto, Helvetica Neue, sans-serif;
	letter-spacing: 0.2em;
	margin: 0 0 34px;
}

.subtitle {
	font: 300 29px/28px Roboto, Helvetica Neue, sans-serif;
	letter-spacing: normal;
	margin: 0 0 16px;
}

@media (max-width: 1199.98px) {
	::ng-deep {
		.search-wrapper {
			display: flex;
			flex-direction: column;
		}

		.form-field, .final-submit-button {
			width: 100% !important;
		}

		.hide-on-mobile {
			display: none;
		}
	}
}

@media(max-width: 1243px) {
	::ng-deep .swap-icon {
		display: none;
	}
}