@import "najdi-prevoz-theme.scss";

@include mat-core();
@include angular-material-theme($najdi-prevoz-theme);
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

$primary-color: rgb(112, 140, 145);
$primary-dark-color: rgb(5, 71, 82);
$primary-light-color: #2979ff;

html, body {
	height: 100%;
	color: white !important;
}

.page > * {
	margin: 1em 2em;
}

body {
	background-size: cover;
	background: rgb(136, 136, 136) url("assets/images/landing_page_bg.jpg") no-repeat center;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inline-block {
	display: inline-block;
}

.small-icon-19px {
	height: 19px;
	width: 19px;
}

.text-bottom {
	vertical-align: text-bottom;
}

mat-icon:not(.ignore-default-color) {
	color: $primary-color !important;
}

.primary-dark-color {
	color: $primary-dark-color;
}

.primary-dark-color-background {
	background-color: $primary-dark-color !important;
}

.button-primary {
	background-color: #2979ff !important;
	color: white !important;
}

.button-success {
	background-color: forestgreen;
	color: white;
}

.button-danger {
	background-color: red;
	color: white;
}

.color-white {
	color: white;
}

a:not(.mat-icon-button):after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 1px;
	background-color: $primary-color;
	width: 0;
	-webkit-transition: width .3s;
	transition: width .3s;
}

//Radio buttons circle border white
.mat-radio-outer-circle {
	background-color: white !important;
}

.mat-select-arrow, .mat-select, .mat-select-value, .mat-select-placeholder, .mat-form-field-label, .mat-form-field-ripple, .mat-form-field-underline {
	color: white !important;
}

//Borders of mat fields on HOVER
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
	color: $primary-light-color;
}

// BORDERS OF MATFORMFIELDS when they are not touched/hovered
.mat-form-field-appearance-outline .mat-form-field-outline:not(.mat-form-field-outline-thick) {
	color: white;
}

/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline, .my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
	background-color: white;
}

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
	color: white;
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: white;
	color: white;
}

input {
	color: white !important;
}
