@import "~@angular/material/theming";

@include mat-core();
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-blue, 700, 900, A400);
$my-custom-accent: mat-palette($mat-blue, 500, 700, A400);
$my-custom-warn: mat-palette($mat-red, 700, 900, A400);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);

$primary-color: white;
$primary-dark-color: rgb(0, 0, 0, 0.8);
$primary-light-color: #2979ff;

html, body {
	height: 100%;
	color: white !important;
}

.primary-light-color {
	color: $primary-light-color;
}

.page > * {
	margin: 1em 2em;
}

body {
	background-size: cover;
	background: rgb(136, 136, 136) url("assets/images/landing_page_bg.jpg") no-repeat fixed center;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inline-block {
	display: inline-block;
}

.small-icon-19px {
	height: 19px;
	width: 19px;
}

.text-bottom {
	vertical-align: text-bottom;
}

mat-icon:not(.ignore-default-color) {
	color: $primary-color !important;
}

.primary-dark-color {
	color: $primary-dark-color;
}

.primary-dark-color-background {
	background-color: $primary-dark-color !important;
}

.button-primary {
	background-color: #2979ff !important;
	color: white !important;
}

.button-success {
	background-color: forestgreen;
	color: white;
}

.button-danger {
	background-color: red;
	color: white;
}

.color-white {
	color: white;
}

a:not(.mat-icon-button):after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 1px;
	background-color: $primary-color;
	width: 0;
	-webkit-transition: width .3s;
	transition: width .3s;
}

//Radio buttons circle border white
.mat-radio-outer-circle {
	background-color: white !important;
}

.mat-select-arrow, .mat-select, .mat-select-value, .mat-select-placeholder, .mat-form-field-label, .mat-form-field-ripple, .mat-form-field-underline {
	color: white !important;
}


//underline of input boxes is white now
.mat-form-field-underline {
	background-color: white !important;
}

//Borders of mat fields on HOVER
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
	color: $primary-light-color;
}

// BORDERS OF MATFORMFIELDS when they are not touched/hovered
.mat-form-field-appearance-outline .mat-form-field-outline:not(.mat-form-field-outline-thick) {
	color: white;
}

/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline, .my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
	background-color: white;
}

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label, .my-form-field.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
	color: white;
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: white;
	color: white;
}

/** Overrides checkbox color **/
.mat-checkbox-frame {
	border-color: white !important;
}

/** Overrides dark color when input boxes are disabled **/
.mat-input-element:disabled {
	color: white !important;
}

//overrides buttons when disabled to have more bigger opacity
.mat-raised-button[disabled] {
	background: rgb(82, 94, 97) !important;
	opacity: 0.92 !important;
	cursor: not-allowed !important;

	& span {
		color: white !important;
	}
}

// Override all the default colors in the mat-card
.mat-card {
	color: white !important;
}

input:not(.owl-dt-timer-input, .ignore-default-color),
.mat-datepicker-toggle-default-icon,
.mat-cell, {
	color: white !important;
}

.owl-dt-timer {
	color: black !important;
}

.mat-menu-panel {
	background: rgb(0, 0, 0, 0.8);
}

.mat-card {
	background: rgb(0, 0, 0, 0.8) !important;
}

.mat-menu-item {
	color: white !important;
}

.bold {
	font-weight: bold;
}

.mat-paginator {
	background: #2979ff !important;
	color: white !important;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}