html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inline-block {
	display: inline-block;
}

.small-icon-19px {
	height: 19px;
	width: 19px;
}

.text-bottom {
	vertical-align: text-bottom;
}


