.flex {
	display: flex;
}

.w-35 {
	width: 35%;
}

.w-65 {
	width: 65%;
}

.profile-pic {
	border-radius: 60%;
}

.ml-5 {
	margin-left: 5px;
}

.mt-5 {
	margin-top: 5px;
}

.space-between {
	justify-content: space-between;
}

:host ::ng-deep {
	& .mat-card-header-text {
		width: 100%;
		margin-right: 0;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}