
.width-20 {
	width: 20%;
}

.border-top-0 {
	border-top: 0 !important;
}

.width-50 {
	width: 50%;
}

.width-12 {
	width: 12%;
}

.height-10 {
	height: 10%;
}

.width-40 {
	width: 35%;
}

.margin-side {
	margin: 2em;
}

.button-form {
	height: 51px;
	margin: 0.25em 0;
	padding-right: 0 !important;
}

.text-center {
	text-align: center;
}

button[hidden] {
	display: none;
}

.top-align {
	vertical-align: top;
}

.height-30 {
	height: 30px;
}

.width-30 {
	width: 30px;
}

.flex-column {
	flex-direction: column;
}

.final-submit-button {
	height: 51px;
	margin: 0.25em 0;
	width: 25%;
	align-self: center;
}

.align-baseline {
	align-items: baseline;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

:host::ng-deep .mat-form-field-wrapper {
	padding-top: 0 !important; // fix for search trips overriding this class..
}

.mat-form-field-disabled {
	.mat-form-field-outline,
	.mat-form-field-empty.mat-form-field-label,
	.mat-form-field-label,
	.mat-form-field-underline,
	.mat-input-element, ::placeholder {
		color: gray !important;
	}
}

.mat-select-disabled {
	& ::ng-deep .mat-select-value {
		color: gray !important;
	}
}